.userPanel {
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 18px 16px;
  flex-direction: column;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 15px;
  width: 217px;
  height: 86px;
  position: absolute;
  margin-top: 8px;
}

.userPanelBtn {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: rgba(250, 250, 250, 0.5);
  gap: 12px;
  transition: color 0.3s ease, stroke 0.3s ease;
}

.userPanelIcon {
  color: var(--color-secondary);
  transition: color 0.3s ease;
}

.userPanelBtn:hover,
.userPanelBtn:focus {
  color: var(--color-text);
  & .userPanelIcon {
    color: var(--color-primary);
  }
}
