.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  padding: 40px 20px 60px 20px;
  width: 335px;
  height: 445px;
  border-radius: 30px;
  background-color: rgba(23, 23, 25, 1);
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fafafa;
}

.closeButton:hover,
.closeButton:focus {
  color: var(--color-primary);
}

.title {
  font-size: 24px;
  font-weight: var(--font-weight-regular);
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

.avatarImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.buttonsGroup {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.uploadPhoto {
  background-color: rgba(41, 41, 43, 1);
  color: #fafafa;
  border-radius: 40px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.uploadPhoto:hover {
  background-color: rgba(61, 61, 63, 1);
}

.removePhoto {
  background-color: rgba(41, 41, 43, 1);
  color: #fafafa;
  border-radius: 40px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.removePhoto:hover {
  background-color: rgba(61, 61, 63, 1);
}

.identityAndCurrency {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.currencySelector {
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.4);
  border-radius: 12px;
  padding-left: 14px;
  color: #fafafa;
  width: 98px;
  height: 42px;
  font-size: 14px;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.currencySelector:hover,
.currencySelector:focus {
  border-color: #eaeaea;
}

.currencySelector option {
  background-color: #0c0d0d;
  color: #fafafa;
  padding: 12px 14px;
  border-radius: 15px;
}

.currencySelector option:hover {
  background-color: var(--color-primary-hover);
}

.userName {
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.4);
  border-radius: 12px;
  padding-left: 14px;
  color: #fafafa;
  width: 192px;
  height: 42px;
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  outline: none;
}

.userName:hover,
.userName:focus {
  border-color: #eaeaea;
}

.saveButton {
  background-color: var(--color-primary);
  color: #0c0d0d;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  margin-top: 20px;
  width: 100%;
  border-radius: 40px;
  padding: 14px;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.saveButton:hover {
  background-color: #0cc96e;
}

.saveButton:disabled {
  background-color: #e6a4a4;
  opacity: 0.5;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .modal {
    padding: 40px 40px 60px 40px;
    width: 500px;
    height: 477px;
  }

  .title {
    font-size: 28px;
  }

  .avatarImage {
    width: 100px;
    height: 100px;
  }

  .currencySelector {
    border-radius: 16px;
    padding-left: 18px;
    width: 124px;
    height: 48px;
    font-size: 16px;
  }

  .currencySelector option {
    padding: 12px 18px;
  }

  .userName {
    border-radius: 16px;
    padding-left: 18px;
    width: 293px;
    height: 48px;
    font-size: 16px;
  }

  .saveButton {
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    border-radius: 40px;
    padding: 14px;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
