.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  padding: 40px 40px 60px 40px;
  width: 500px;
  height: 477px;
  border-radius: 30px;
  background-color: rgba(23, 23, 25, 1);
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fafafa;
}

.closeButton:hover,
.closeButton:focus {
  color: var(--color-primary);
}

.title {
  font-size: 28px;
  font-weight: var(--font-weight-regular);
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 38px auto 20px;
}

.avatarImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.buttonsGroup {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.uploadPhoto {
  background-color: rgba(41, 41, 43, 1);
  color: #fafafa;
  border-radius: 40px;
  padding: 8px 16px;
  font-size: 12px;
}

.removePhoto {
  background-color: rgba(41, 41, 43, 1);
  color: #fafafa;
  border-radius: 40px;
  padding: 8px 16px;
  font-size: 12px;
}

.identityAndCurrency {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/* select[name="currency"] {
  background-color: transparent;
  color: #fafafa;
  border: 1px solid #3a3a3a;
  border-radius: 16px;
  padding: 12px;
  width: 100%;
  margin-top: 16px;
  font-size: 16px;
  appearance: none;
} */

.userName {
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.4);
  padding-left: 18px;
  color: #fafafa;
  border-radius: 16px;
  width: 293px;
  height: 48px;
  font-size: 16px;
}

.saveButton {
  background-color: var(--color-primary);
  color: #0c0d0d;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  border-radius: 40px;
  padding: 14px;
}
