.title {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-secondary);
  margin-bottom: 9px;
  padding: 0 40px;
}

.list {
  max-height: 231px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #444446 var(--color-bg);
  margin-bottom: 9px;
}

.categoriesList {
  margin-bottom: 9px;
}

.item {
  color: var(--color-text);
  height: 43px;
  transition: var(--animation);
  display: flex;
}

.item:hover {
  background: rgba(0, 0, 0, 0.2);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 100%;
}

.textWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.category {
  font-size: 16px;
}

.type {
  font-size: 10px;
}

.buttons {
  display: flex;
  gap: 14px;
}

.button {
  display: block;
  text-align: center;
  color: #838383;
  transition: var(--animation);
}

.button:hover,
.button:hover {
  color: var(--color-primary);
}

.item .buttons {
  opacity: 0;
  pointer-events: none;
  transition: var(--animation);
}

.item:hover .buttons {
  opacity: 1;
  pointer-events: auto;
}
