.burgerMenuBtn {
  width: 36px;
  height: 36px;
}

.burgerMenuIcon {
  color: var(--color-text);
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .burgerMenuBtn {
    width: 44px;
    height: 44px;
  }

  .burgerMenuIcon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .burgerMenuBtn {
    display: none;
  }
}
