.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  overflow: hidden;
  background-color: #171719;
  padding: 40px 0;
  border-radius: 30px;
  width: 500px;
  height: 461px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  display: flex;
  flex-direction: column;
}

.closeIcon {
  width: 24px;
  height: 24px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  transition: var(--animation);
}

.closeButton:hover {
  color: rgba(250, 250, 250, 0.5);
}

.title {
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 18px;
}

.modalContainer {
  padding: 0 40px;
}

.form {
  margin-top: auto;
}
