.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  overflow: hidden;
  background-color: var(--color-bg-secondary);
  padding: 40px 20px;
  border-radius: 30px;
  width: 335px;
  height: 530px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  display: flex;
  flex-direction: column;
}

.closeIcon {
  width: 24px;
  height: 24px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  transition: var(--animation);
}

.closeButton:hover {
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 40px 20px;
    width: 500px;
    height: 599px;
  }
}
