/* Внешний хедер. Отвечает только за фон и положение. */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 91px;
  background-color: var(--color-bg, #171719);
  border-bottom: 1px solid rgba(250, 250, 250, 0.1);

  z-index: 990;
}

/* Внутренний контейнер. Отвечает за ограничение ширины и расположение элементов. */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  margin: 0 auto;

  /* ВАЖНО: Устанавливаем ту же максимальную ширину, что и у .mainContent */
  max-width: 335px;

  /* Устанавливаем те же боковые отступы, что и у .pageWrapper */
  padding: 0 20px;
}

/* Стили для адаптивности остаются почти такими же */
.desktopNav,
.desktopUserBar {
  display: none;
}

.mobileNav {
  display: block;
}

/* Медиа-запросы теперь могут быть проще */
@media screen and (min-width: 768px) {
  .headerContainer {
    padding: 0 32px;
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  /* В десктопной версии мы больше не управляем justify-content хедера,
     а просто показываем/скрываем нужные блоки внутри контейнера.
     .headerContainer уже все правильно расставит. */
  .headerContainer {
    max-width: 1200px;
  }
  .desktopNav {
    display: block;
    margin: 0 auto; /* Центрирует навигацию между лого и кнопкой пользователя */
  }

  .desktopUserBar {
    display: block;
  }

  .mobileNav {
    display: none;
  }
}
