.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 44px;
  width: 100%;
}

.infoSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.infoHeader {
  font-family: var(--font-base);
  font-weight: var(--font-weight-regular);
  font-size: 38px;
  color: var(--color-text);
}

.infoText {
  font-family: var(--font-base);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--color-secondary);
}

.title {
  font-size: 24px;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  color: #525252;
  margin-bottom: 24px;
}

.formSection {
  background-color: var(--color-bg-secondary);
  border-radius: 30px;
  padding: 28px 20px;
  width: 335px;
  color: var(--color-text);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .formSection {
    padding: 40px 108px;
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .formSection {
    padding: 40px 36px;
    width: 566px;
    margin: 0;
  }
}

@media (max-width: 1439px) {
  .mainContent {
    flex-direction: column;
  }
  .pageWrapper {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .mainContent {
    gap: 40px;
    max-width: 704px;
  }
}
@media screen and (max-width: 768px) {
  .mainContent {
    gap: 40px;
    max-width: 335px;
  }
  .infoHeader {
    font-size: 32px;
  }

  .infoText {
    font-size: 14px;
  }
  .infoSection {
    gap: 12px;
  }
}
