.container {
  background-color: #1a1a1a;
  padding: 20px 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 80px 89px 70px 60px 95px 96px;
  align-items: center;
  color: #fff;
  min-width: 100%; /* ширина для скролу */
}

.categoryName,
.comment,
.date,
.time,
.sum {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comment {
  max-width: 56px;
}

.date {
  max-width: 53px;
}

.btn {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}

.edit {
  display: flex;
  justify-items: center;
  gap: 10px;
  background-color: #00ffb2;
  color: #000;
  border: none;
  border-radius: 40px;
  padding: 14px 14px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.delete {
  display: flex;
  gap: 10px;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 14px 14px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.text {
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding: 20px 32px;
  }

  .wrapper {
    grid-template-columns: 100px 120px 100px 90px 120px 100px;
  }

  .comment {
    max-width: 89px;
  }

  .date {
    max-width: 74px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 20px 40px;
  }

  .wrapper {
    grid-template-columns: 100px 200px 180px 150px 220px 180px;
  }

  .comment {
    max-width: 123px;
  }

  .date {
    max-width: 145px;
  }
  .text {
    display: block;
  }

  .edit {
    padding: 14px 32px;
  }

  .delete {
    padding: 14px 32px;
  }
}
