.layoutWrapper {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .layoutWrapper {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .authLayout {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 54px;
  }

  .authLayout > div:first-child {
    flex-shrink: 0;
  }

  .layoutWrapper {
    flex-direction: row;
  }

  .imageContainer {
    width: 611px;
  }
}
