/* Этот класс-обертка центрирует контент */
.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* Этот класс ограничивает максимальную ширину контента */
.mainContent {
  width: 100%;
  max-width: 1240px;
}

/* ========================================================== */
/* НОВЫЕ СТИЛИ ДЛЯ ХЕДЕРА СТРАНИЦЫ                           */
/* ========================================================== */
.pageHeader {
  display: flex;
  justify-content: space-between; /* Распределяет элементы по краям */
  align-items: center; /* Выравнивает по вертикали */
  margin-bottom: 24px; /* Отступ до таблицы с транзакциями */
}

.headerInfo {
  max-width: 50%; /* Ограничиваем ширину блока с текстом */
}

.infoHeader {
  font-family: var(--font-base);
  font-weight: var(--font-weight-regular);
  font-size: 38px;
  color: var(--color-text);
  margin-bottom: 12px;
}

.infoText {
  font-family: var(--font-base);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--color-secondary);
}

.transactionsWrapper {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  background-color: #171719;
}

@media (max-width: 1439px) {
  .pageHeader {
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
  }

  .headerInfo {
    max-width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
}
