/* Этот класс-обертка центрирует контент по горизонтали и вертикали */
.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Выравниваем по верху, а не по центру */
  min-height: 100vh;
  padding: 20px;
}

.mainContent {
  width: 100%;
}

.transactionsWrapper {
  width: 100%; /* Теперь он занимает всю ширину родителя (.mainContent) */
  border-radius: 30px;
  overflow: hidden;
  background-color: #171719; /* Добавим фон, как у других блоков */
}

/* Адаптивность для планшетов */
@media (max-width: 1439px) {
  .mainContent {
    max-width: 704px;
  }
}

/* Адаптивность для мобильных */
@media (max-width: 767px) {
  .mainContent {
    max-width: 335px;
  }
  .pageWrapper {
    padding: 10px;
    padding-top: 101px;
  }
}
