:root {
  --color-primary: #0ef387;
  --color-primary-hover: #0ebb69;
  --color-secondary: rgba(250, 250, 250, 0.4);
  --color-bg: #0c0d0d;
  --color-bg-secondary: #171719;
  --color-text: #fafafa;

  --font-base: "Inter Variable", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --header-height: 91px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px #1e1e1e inset !important;
  -webkit-text-fill-color: #fafafa !important;
  transition: background-color 9999s ease-in-out 0s; /* Chrome fix */
}

html {
  box-sizing: border-box;
  font-family: var(--font-base);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  line-height: 1.2;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #444446 var(--color-bg);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
